.section-title {
    font-family: 'NeoSansW1G', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 115px;
    text-transform: uppercase;
    color: var(--c-font-grey);
    padding-top: 130px;
    padding-bottom: 75px;
}

@media (max-width: 800px) {
    .section-title {
        font-size: 48px;
        line-height: 58px;
        padding-top: 50px;
        padding-bottom: 40px;
    }
}



.section-title--blue {
    color: var(--c-font-blue);
    font-weight: 600;
}

.section-title--white {
    color: #fff;
}

.bold {
    font-weight: 600;
}

.section-title__img {
    margin-bottom: -10px;
}

@media (max-width: 800px) {
    .section-title__img {
        max-height: 52px;
        margin-bottom: -5px;
        margin-left: 10px;
    }
}

.section-title--wrap {
    display: block;
    padding-left: 100px;
}

@media (max-width: 600px) {
    .section-title--wrap {
        padding-left: 60px;
    }
}

.dec_desk {
    display: inline;
}

.dec_mob {
    display: none;
}

@media (max-width: 800px) {
    .dec_desk {
        display: none;
    }
    
    .dec_mob {
        display: inline;
    }

    .mob_wrap {
        display: block;
    }
}

.hidden {
    display: none;
}

