* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', Arial, sans-serif;
  background: var(--bg-grey-light);
  overflow-x: hidden;
}

.header, .mission, .history, .work, .news {
  position: -webkit-sticky !important; 
  position: sticky !important; 
  top: 0; 
  z-index: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  color: var(--c-font-regular);
  min-width: 360px;
  padding: 20px;
  position: relative;
  scroll-snap-type: y mandatory;
}

@media (max-width: 800px) {
  .container {
    padding: 12px;
  }
}

.wrap {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
}


li, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


