.news
    background: #fff
    border-radius: var(--border-rad-block)
    padding: 0 15px

    +mw(600)
        border-radius: 30px

    &__wrap
        padding-bottom: 230px

    &__list 
        display: flex
        flex-wrap: wrap
        gap: 35px
        justify-content: space-between

        +mw(850)
            gap: 15px


.news-item 
    width: calc(33% - 35px)
    cursor: pointer

    +mw(850)
        width: calc(50% - 15px)

    +mw(500)
        width: 100%

    &__img-wrap
        overflow: hidden
        border-radius: 30px 30px 0px 30px

    &__img
        width: 100%
        height: 100%
        object-fit: cover

    &__desc
        padding: 30px 30px 0
        font-size: 20px
        line-height: 24px
        color: var(--c-grey)

        +mw(500)
            padding: 15px 30px 60px



.news__spoiler
    display: block
    padding-top: 115px
    width: 100%
    text-align: center
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;
    color: var(--c-grey)
    cursor: pointer

    +mw(500)
        padding-top: 0
