.product 
    background-color: #fff
    border-radius: var(--border-rad-block)
    

    &__wrap
        max-width: 1160px
        margin: 0 auto
        width: 100%
        position: relative
        padding-bottom: 130px




.products 


.products-menu 
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 75px

.products-menu__item 
    font-size: 24px
    line-height: 29px
    padding: 20px 30px
    border-radius: 10px
    cursor: pointer
    transition: .2s

    &--active
        background: var(--c-orange)
        color: #fff


.products-list 
    display: flex
    flex-wrap: wrap
    gap: 25px

.products-list__item 

.product__order 

.order 
    margin-top: 36px
    width: 350px
    height: 187px
    border-radius: 202px
    background: var(--c-orange)
    color: #fff
    padding: 40px 64px
    position: absolute
    left: calc(100% - 350px)
    cursor: pointer

.order__text 
    font-weight: 400
    font-size: 16px
    line-height: 20px
    width: 170px

.order__vol
    font-weight: 400
    font-size: 64px
    line-height: 78px

.order__arr
    position: absolute
    top: 90px
    right: 70px
    width: 40px
    height: 35px
