.work 
    padding-bottom: 130px

    +mw(550)
        padding-bottom: 70px

    &__wrap
        position: relative

    &-adv
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 120px;
        grid-row-gap: 40px; 
        padding-bottom: 75px
        padding-left: 35px

        +mw(1000)
            grid-column-gap: 60px
            grid-row-gap: 30px
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);

        +mw(480)
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
            padding-bottom: 50px
            grid-row-gap: 15px; 

        &__item
            font-family: 'Montserrat'
            font-weight: 400
            font-size: 20px
            line-height: 24px
            color: var(--c-grey)
            position: relative

            +mw(480)
                max-width: 100%
                font-size: 16px;
                line-height: 20px;
                max-width: 250px



            &::before
                content: "\2605"
                color: var(--c-blue)
                font-weight: bold
                display: inline-block
                margin-left: -35px
                font-size: 24px
                position: absolute
                top: 50%
                transform: translateY(-50%)


    &-form 
        max-width: 560px

        &__cats
            display: flex
            justify-content: space-between
            margin-bottom: 50px
            border-bottom: 3px solid #D9D9D9

            +mw(550)
                margin-bottom: 30px


        &__cat
            font-family: 'Montserrat'
            font-weight: 400
            font-size: 20px
            line-height: 24px
            text-transform: uppercase
            color: var(--c-grey)
            padding-bottom: 16px
            cursor: pointer

            +mw(550)
                font-size: 12px
                line-height: 15px
            

            &--active
                position: relative
                
                &::before
                    content: ""
                    background: var(--c-orange)
                    width: 100%
                    display: inline-block
                    position: absolute
                    height: 4px
                    bottom: -3px
                    transition: .3s

        &__list 

        &__item 
            padding: 35px 50px
            font-size: 24px
            line-height: 29px
            color: var(--c-grey)
            background: #fff
            margin-bottom: 20px
            border-radius: 15px

            +mw(550)
                font-size: 20px
                line-height: 24px
                padding: 25px 30px

        &__offer 
            padding-top: 50px
            p
                padding-top: 10px
                font-size: 24px
                line-height: 29px
                color: var(--c-grey)

            +mw(550)
                padding-top: 30px

                p
                    font-size: 16px
                    line-height: 20px
                    padding-top: 0

        &__link
            font-weight: 900
            color: var(--c-orange)

        
            &--style
                border-bottom: 2px solid var(--c-orange)


.work__arr
    width: 22px
    height: 15px
                

.work__person
    position: absolute
    bottom: -130px
    right: 0

    +mw(1050)
        display: none